{{ $languages := .Site.Data.languages }}
<section id="languages" class="blue">
  <h2 class="heading">{{ $languages.title }}</h2>

  {{ range $key, $value := $languages.languages }}

  <div class="language">
    <span class="h6">{{ $key }}</span>
    <div class="progress">
      <div
        class="progress-bar bg-blue"
        role="progressbar"
        style="width: {{ $value }}%"
        aria-valuenow="10"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
  </div>
  {{ end }}
</section>
